@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-color: #047aed;
  --white-color: #ffff;
  --black-800: rgb(21, 21, 22);
  --black-500: rgba(0, 0, 0, 0.682);
  --black-200: rgba(46, 46, 48, 0.249);
  --black-100: rgba(46, 46, 48, 0.101);
  --red-500: rgb(216, 51, 51);
  --text-font: 17px;
  --h1-font: 27px;
  --md-radius: 5px;
  --large-radius: 10px;
  --primary-border: 1px solid var(--black-200);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background: #222;
}

header {
  width: 100%;
  background: #fff;
}

.header-logo {
  background-image: url("./assets/Spices\ &\ Flavors.png");
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  width: 100%;
  align-items: center;
  height: 70px;
}

.navList {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  list-style-type: none;
}

.container {
  height: 65vh;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin: 70px 0;
  color: #fff;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  gap: 6px;
  padding: 10px;
  border: 7px solid #fff;
  border-radius: 25px;
}

.meal-img {
  width: 65%;
  height: 50%;
  border: 1px solid black;
}

.like-comment {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.num-of-likes {
  display: flex;
  width: 70%;
  justify-content: end;
  font-size: 18px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.comment-btn {
  width: 30%;
  padding: 6px;
  font-size: 15px;
}

.reservation-btn {
  width: 35%;
  padding: 6px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.backdrop {
  width: 100%;
  height: 100vh;
  display: none;
  background: rgba(0, 0, 0, 0.437);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 200;
}

.backdrop.open {
  display: block;
}

.info-popup-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 800px;
  left: 0;
  display: flex;
  justify-content: center;
  transition: ease-out 300ms;
  z-index: 300;
}

.info-popup-container.open {
  top: 0;
}

.info-popup {
  max-width: 800px;
  width: 100%;
  height: 100vh;
  background: white;
  padding: 20px;
  overflow: auto;
  padding-right: 5px;
}

.info-popup::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

.info-popup::-webkit-scrollbar-thumb {
  background-color: var(--black-200);
}

.info-popup i {
  text-align: right;
  font-size: var(--text-font);
  cursor: pointer;
  padding: 5px;
  border-radius: 100%;
  background: var(--black-500);
  color: white;
  float: right;
}

.info-popup .img-desc {
  max-width: 500px;
  margin: auto;
}

.info-popup .img-desc img {
  width: 100%;
}

.product-desc-title {
  text-align: center;
  padding: 20px;
}

.ingredients-container {
  max-width: 600px;
  width: 100%;
  border-bottom: var(--primary-border);
  margin: 20px auto;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.ingredients-container> :nth-child(1) {
  border-right: var(--primary-border);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 10px;
}

.ingredients-container> :nth-child(2) {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
  text-align: left;
}

.comments {
  margin: auto;
  margin-top: 50px;
  max-width: 400px;
  width: 100%;
}

.comments-list li {
  padding: 10px;
  max-width: 400px;
  background: var(--black-100);
  border-radius: 5px;
  margin: 10px auto;
  list-style: none;
}

.comments-list li h4 {
  background-color: var(--black-500);
  padding: 10px;
  margin: 10px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: white;
}

.comment-name {
  display: flex;
  align-items: center;
}

.comment-name span {
  font-size: 14px;
}

.comments-list li p {
  color: var(--black-500);
  margin: 0 10px;
}

.comment-date {
  font-size: 14px;
  padding-top: 20px;
}

.comment-form {
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  padding-top: 20px;
}

.input-controller {
  width: 100%;
}

.input-controller input {
  width: 90%;
  max-width: 400px;
  height: 40px;
  border: var(--primary-border);
  padding: 0 20px;
  border-radius: 5px;
}

.input-controller textarea {
  max-width: 400px;
  max-height: 200px;
  width: 95%;
  border: var(--primary-border);
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  font-family: "Lato", sans-serif;
  resize: vertical;
}

.input-controller textarea:focus,
.input-controller input:focus {
  outline: 2px solid rgb(223, 19, 223);
}

.comment-form button {
  width: 100%;
  background-color: var(--black-500);
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 0;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.comment-form button:disabled {
  background-color: gray;
}

.close-btn {
  float: right;
  border: none;
  outline: none;
}

footer {
  width: 100%;
  border-top: var(--primary-border);
  bottom: 0;
  background: #fff;
  color: #000;
  font-weight: 700;
}

footer .footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  background-image: url("./assets/Spices\ &\ Flavors.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer-container ul {
  display: flex;
  list-style: none;
  gap: 20px;
  color: var(--black-500);
}

.footer-container ul li {
  transition: 300ms;
  cursor: pointer;
}

.footer-container ul li:hover {
  color: var(--black-800);
}

.footer-container ul :nth-child(1) {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-right: 1px solid var(--black-200);
}

.footer-container ul :nth-child(2) {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-right: 1px solid var(--black-200);
}

.footer-container ul :nth-child(3) {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

footer .footer-copyright {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}